.wrapper {
    padding: 5px;
    border: 1px solid  #e5e5e5;
    margin-right: 10px;
    width: 170px;
    height: 110px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}

.wrapper:hover {
    background-color: lightgrey;
}

.name {
    font-size: 130%;
}

.sum {
    font-size: 100%;
    color: grey;
}

.active {
    background-color: #e5e5e5;

}