.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    margin: 0px 0px 10px 0px;

    margin: 0 0 5px 0;
    height: 35px;
    line-height: 30px;
    background-color: #ececec;
}

.field {
    line-height: 40px;
}